.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
    background-color: #944317;
    padding: 10px 15px !important;
    text-align: center;  
}
.Danger {
    color: #944317;
    background-color: #5C9210;
    padding: 10px 15px !important;
    text-align: center;
}